
span.defaultFont{
    color: rgb(184, 184, 232);
}
span.hpColorGreen{
    color:rgb(16, 252, 24);
}
span.hpColorYellow{
    color:rgb(243, 243, 54);
}
span.hpColorRed{
    color:rgb(198, 24, 24);
}

/*핵데미지 계산기*/
#nukeCalculatorGrid{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 200px 500px auto;
    grid-gap: 10px;
    max-width: 1111px;
}
#nukeCalculatorGrid > div{
    padding: 10px;
    border: 1px solid black;
}
#nukeCalculatorPositionViewer{
    position: relative;
    grid-column: 1/4;
    width: 1111px;
    height: 250px;
}
#nukeCalculatorPositionViewer img{
    position: absolute;
}
#nukeCalculatorPositionViewer span{
    position: absolute;
    color: white;
}
#nukeCalcTarget{
    cursor: default;
    position: absolute;
    background-color: rgb(0, 0, 200,50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: rgb(255,255,255,50%);
    left: 150px;
    top:112.5px;
}
#nukeCalcInfoViewer{
    background-color: black;
    line-height: 100%;
    text-align: center;
}
#nukeCalcInfoViewer img{
    margin-top: 5px;
    margin-bottom: 5px;
}
#armorPopupInfo{
    background-color: black;
    min-width: 128px;
    padding: 4px;
    position: absolute; 
    display: none; 
    float: left; 
    overflow: hidden; 
    z-index: 999;
}
#nukeCalcArmorContainer, #nukeCalcShieldArmorContainer {
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
}
#nukeCalcArmorContainer span, #nukeCalcShieldArmorContainer span{
    position: absolute;
    bottom: 12px;
    right: 6px;
}
/*input buttons*/
#nukeCalcInputBtnGrid{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
}
#nukeCalcNukeBtn, #nukeCalcHealBtn, #nukeCalcInfoBtn, #nukeCalcExportBtn, #nukeCalcImportBtn{
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 90px;
    height: 77px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 25px;
}
#nukeCalcNukeBtn > span, #nukeCalcHealBtn > span, #nukeCalcInfoBtn > span, #nukeCalcExportBtn > span, #nukeCalcImportBtn > span{
    position:absolute;
    text-align: center;
    width: 90px;
    top :75px;
}
#nukeCalcNukeBtn{
    background-image: url('data/NukeBtn.png');
}
#nukeCalcHealBtn{
    background-image: url('data/HealBtn.png');
}
#nukeCalcInfoBtn{
    background-image: url('data/infoBtn.png');
}
#nukeCalcExportBtn{
    background-image: url('data/exportBtn.png');
}
#nukeCalcImportBtn{
    background-image: url('data/importBtn.png');
}
#nukeCalcNukeBtn:active{
    background-image: url('data/NukeBtn_push.png');
}
#nukeCalcHealBtn:active{
    background-image: url('data/HealBtn_push.png');
}
#nukeCalcInfoBtn:active{
    background-image: url('data/infoBtn_push.png');
}
#nukeCalcExportBtn:active{
    background-image: url('data/exportBtn_push.png');
}
#nukeCalcImportBtn:active{
    background-image: url('data/importBtn_push.png');
}
#nukeCalcInfoText{
    width: 391px;
    /* height: 332px; */
}
#nukeCalcLog{
    grid-column: 1/4;
    height: 285px;
}
.pageInfo{
    display: inline-block; 
    width: 100%; 
    text-align: right;
    font-size: 10px;
    height: 20%;
    /* line-height: 20%; */
}